.input {
    border: 1px solid #8B8B8B;
    border-radius: 5px;
    outline: none;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    transition: 0.3s;
    min-width: 300px;
}

.input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px 0 dodgerblue;
}

.submit {
    padding: 8px 18px;
    border-radius: 5px;
    border: none;
    background-color: #65DB49;
    margin-left: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
}

.btn-cancel {
    background-color: #8B8B8B;
}

.submit:hover {
    background-color: #9cee87;
}

.btn-cancel:hover {
    background-color: #b1b1b1;
}

.input {
    width: 100%;
}

