@import "navbar.css";
@import "content.css";
@import "footer.css";
@import "input_text.css";

* {
    padding: 0px;
    margin: 0px;
    font-family: kanit;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}