@import "public-style-cp.css";

.content-create-post {
    padding-bottom: 50px;
}

.input-section {
    padding: 0px 10px 0px 0px;
}

.container-skill {
    display: flex;
    flex-direction: row;
    
}

.container-skill .skill {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 15px;
    background-color: #E1E1E1;
    border-radius: 3px;
    width: fit-content;
    margin-left: 10px;
    margin-top: 10px;
 }

 .container-skill .skill .skill-name {
    margin-right: 10px;
    font-size: 16px;
 }


 .container-skill .skill .btn-cancel-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
 }

 .container-skill .skill .btn-cancel-skill img {
    width: 90%;
 }

 .container-skill .skill .btn-cancel-skill:hover {
    cursor: pointer;
    background-color: white;
 }
