
.main-menu a .account-menu {
    display: block;
    width: 3.3vw;
    height: 3.3vw;
}

.title {
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.title p {
    padding: 20px 40px;
    background-color: #97E585;
    font-size: 23px;
    width: fit-content;
    border-radius: 10px 0 10px 0;
}

.sub-menu {
    display: flex;
    padding-top: 17px;
}

.sub-menu a {
    display: flex;
    height: 40px;
    border-radius: 20px;
    background-color: #C0D6BA;
    padding: 4px 10px 4px 4px;
    margin: 0px 10px;
}

.sub-menu a:hover {
    background-color: #d8ecd2;
}

.sub-menu a .icon {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 7px;
}

.sub-menu a .icon img {
    width: 100%;
}

.sub-menu a span {
    margin-top: 3px;
    margin-left: 5px;
    color: black;
}

.content-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 70px 100px;
}

.sub-content-profile {
    width: 50%;
    padding: 0.9vw 1.5vw;
}

.extension-sub-content-profile {
    width: 100%;
}

.user-img-container {
    width: 100%;
    text-align: center;
}

.sub-content-profile-end {
    float: left;
}

.user-img-container .user-img {
    padding-bottom: 1.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-img-container .user-name {
    font-size: 1.5vw;
    font-weight: 600;
}

.user-img-container .user-img img {
    min-width: 170px;
    width: 30%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

.sub-content-profile .sub-content-title {
    text-align: center;
    padding: 0.5vw;
    background-color: #97E585;
    border-radius: 5px;
    font-size: 1.2vw;
    font-weight: 480;
}

.sub-content-profile table {
    padding: 1.3vw 1.8vw;
    width: 100%;
}

.sub-content-profile table tr {
    width: inherit;
    font-size: 1vw;
}

.sub-content-profile table tr td {
    height: 2.4vw;
}

.sub-content-profile table tr .col1 {
    width: 30%;
}

.sub-content-profile table tr .col2 {
    font-weight: 300;
}

/* responsive sub content section */
@media (max-width: 1330px) {
    .content-profile {
        padding: 20px 50px;
    }
    .sub-content-profile {
        width: 100%;
    }
}

/* hiden sub menu */
@media (max-width: 1140px) {
    .sub-menu {
        display: none;
    }
}